.nav-item{
    transition: background-color 1s linear;
    text-shadow: 1px 1px 2px rgb(91, 127, 185);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    font-size: 1.5rem;
 &:hover{
    background-color:$colorTitulo;
 }
.activo{
    background-color: $bgcolor;
   border: blanchedalmond 1px solid;
    color: black;
}
}